<section>
  <!-- Afficher un message si aucune spécificité  n'est enregistrée -->
  <div
    *ngIf="currentVisibleData?.length === 0; else specificite"
    class="no-data"
  >
    <p>Aucune spécificité enregistrée !</p>

    <!-- add button session  -->
    <app-add-buttton
      *ngIf="
        role === 'CONTRIBUTEUR' ||
        role === 'EDITEUR' ||
        role === 'MANAGER' ||
        role === 'ADMINISTRATEUR'
      "
      [buttonText]="'Ajouter une spécificité'"
      (click)="addSpecificite()"
    ></app-add-buttton>
  </div>

  <ng-template #specificite>
    <div class="sort">
      <h2>Rechercher par:</h2>

      <!-- all options  -->
      <div class="options">
        <!-- first option  -->
        <input type="checkbox" name="#" id="check" />
        <div class="option">
          <div class="label1">
            <label for="check"
              ><mat-icon>sort_by_alpha</mat-icon><span>Code</span></label
            >
          </div>
          <div class="input1">
            <div>
              <mat-icon>search</mat-icon>
              <input
                #filterName
                (keyup)="filterByCode(filterName.value)"
                type="search"
                name="#"
                id="#"
                placeholder="Code..."
              />
            </div>
          </div>
        </div>

        <!-- second option  -->
        <input type="checkbox" name="#" id="check2" />
        <div class="option">
          <div class="label2">
            <label for="check2"
              ><mat-icon>timer</mat-icon><span>Libelle</span></label
            >
          </div>
          <div class="input2">
            <div>
              <mat-icon>search</mat-icon>
              <input
                #filterDuree
                (keyup)="filterByLibelle(filterDuree.value)"
                type="search"
                name="#"
                id="input2"
                placeholder="Libelle..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="student">
      <div class="heading">
        <div>
          <h4>Spécificité</h4>
          <span class="getsmarter-prof">Liste des spécificités</span>
        </div>
        <button
          *ngIf="
            role === 'CONTRIBUTEUR' ||
            role === 'EDITEUR' ||
            role === 'MANAGER' ||
            role === 'ADMINISTRATEUR'
          "
          (click)="addSpecificite()"
        >
          <mat-icon>edit</mat-icon>
          <span>Ajouter</span>
        </button>
      </div>
      <div class="cards" [@pageTransition]="currentPageState">
        <table>
          <thead>
            <tr>
              <th>N°</th>
              <th (click)="sortData('code')">
                Code <span [ngClass]="getSortIcon('code')"></span>
              </th>
              <th (click)="sortData('libelle')">
                Libelle <span [ngClass]="getSortIcon('libelle')"></span>
              </th>
              <th (click)="sortData('createDate')" class="date-enregistrement">
                Date d'enregistrement
                <span [ngClass]="getSortIcon('createDate')"></span>
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentVisibleData; let i = index">
              <td>{{ i + 1 }}</td>
              <td class="startDate">{{ item.code }}</td>
              <td>{{ item.libelle }}</td>
              <td class="date-enregistrement">{{ item.createDate }}</td>
              <td class="more">
                <button class="more-icon" (click)="toggleModal(i, $event)">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <div
                  class="modal"
                  [ngClass]="{ show: isModalVisible[i] }"
                  (click)="$event.stopPropagation()"
                >
                  <div
                    class="text"
                    *ngIf="
                      role === 'EDITEUR' ||
                      role === 'MANAGER' ||
                      role === 'ADMINISTRATEUR'
                    "
                  >
                    <button
                      (click)="
                        updateSpecificte(item.id, item.code, item.libelle)
                      "
                    >
                      <img
                        src="images/write-svgrepo-com.svg"
                        alt="write-svgrepo-com.svg"
                      />
                      <span class="update">Modifier</span>
                    </button>
                  </div>
                  <div
                    class="text"
                    *ngIf="role === 'MANAGER' || role === 'ADMINISTRATEUR'"
                  >
                    <button
                      (click)="onOptionSelectedDelete(i, $event, item.id)"
                    >
                      <img
                        src="images/delete-svgrepo-com.svg"
                        alt="delete-svgrepo-com.svg"
                      />
                      <span class="delete">Supprimer</span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- pagination  -->
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        Précédent
      </button>
      <span *ngFor="let page of pageNumbers()">
        <button
          [class.active]="page === currentPage"
          (click)="changePageWithAnimation(page)"
        >
          {{ page }}
        </button>
      </span>
      <button
        (click)="nextPage()"
        [disabled]="currentPage === pageNumbers().length"
      >
        Suivant
      </button>
    </div>
  </ng-template>
</section>
