<section>
  <div class="cards">
    <div class="card">
      <button (click)="deleteAllSession()">
        <mat-icon>delete</mat-icon><span>Supprimer toutes les sessions</span>
      </button>
    </div>
    <div class="card">
      <button (click)="deleteAllStudent()">
        <mat-icon>delete</mat-icon><span>Supprimer tous les étudiants</span>
      </button>
    </div>
    <div class="card">
      <button (click)="deleteAllFormation()">
        <mat-icon>delete</mat-icon><span>Supprimer toutes les formations</span>
      </button>
    </div>
    <div class="card">
      <button (click)="deleteAllSpecificte()">
        <mat-icon>delete</mat-icon><span>Supprimer toutes les specificité</span>
      </button>
    </div>
    <div class="card">
      <button (click)="deleteAllCampus()">
        <mat-icon>delete</mat-icon><span>Supprimer tous les campus</span>
      </button>
    </div>
    <div class="card">
      <button (click)="deleteAllPaiement()">
        <mat-icon>delete</mat-icon><span>Supprimer tous les paiements</span>
      </button>
    </div>
    <div class="card">
      <button (click)="deleteAllCourse()">
        <mat-icon>delete</mat-icon><span>Supprimer toutes les matières</span>
      </button>
    </div>
    <div class="card">
      <button (click)="deleteAllStartCourse()">
        <mat-icon>delete</mat-icon
        ><span>Supprimer toutes les matières demarrées</span>
      </button>
    </div>
    <div class="card">
      <button (click)="deleteAllProfessor()">
        <mat-icon>delete</mat-icon><span>Supprimer tous les professeurs</span>
      </button>
    </div>
    <div class="card">
      <button (click)="deleteAllTuteur()">
        <mat-icon>delete</mat-icon><span>Supprimer tous les tuteurs</span>
      </button>
    </div>
  </div>
</section>
