<section>
  <div class="cards">
    <div class="image">
      <div class="img">
        <div class="image">
          <img *ngIf="safeImageUrl; else noImage" [src]="safeImageUrl" />
          <ng-template #noImage>
            <img src="/images/image_not_found.jpg" alt="user" />
          </ng-template>
        </div>
        <form
          (ngSubmit)="uploadImageUser(img)"
          enctype="multipart/form-data"
        >
          <label for="file-upload" class="custom-file-upload">
            <mat-icon>cloud_upload</mat-icon><span>Modifier</span>
          </label>
          <input
            id="file-upload"
            type="file"
            name="image"
            (change)="onFileSelected($event)"
          />
        </form>
      </div>
    </div>
    <div class="text">
      <div class="heading">
        <div>
          <h4>{{ fullname }}</h4>
          <span class="getsmarter-prof">Profil utilisateur</span>
        </div>
        <button (click)="updateProfil()">
          <mat-icon>edit</mat-icon>
          <span>Modifier</span>
        </button>
      </div>

      <div class="subheading">
        <!-- <div>
          <p>
            <mat-icon>sort_by_alpha</mat-icon>
            <span>Noms & Prénoms</span>
          </p>
          <h4>Ambang</h4>
        </div> -->
        <div>
          <p>
            <mat-icon>alternate_email</mat-icon>
            <span>email</span>
          </p>
          <h4>{{ email ? email : "Pas renseigné" }}</h4>
        </div>
        <div>
          <p>
            <mat-icon>phone_in_talk</mat-icon>
            <span>Numéro téléphone</span>
          </p>
          <h4>{{ phone ? phone : "Pas renseigné" }}</h4>
        </div>
        <div>
          <p>
            <mat-icon>male</mat-icon>
            <span>Sexe</span>
          </p>
          <h4>{{ sexe ? sexe : "Pas renseigné" }}</h4>
        </div>
        <div>
          <p>
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Rôle</span>
          </p>
          <h4>{{ role ? role : "Pas renseigné" }}</h4>
        </div>
        <!-- <div>
          <p>
            <mat-icon>flag</mat-icon>
            <span>pays</span>
          </p>
          <h4>Cameroun</h4>
        </div>
        <div>
          <p>
            <mat-icon>pin_drop</mat-icon>
            <span>ville</span>
          </p>
          <h4>Douala</h4>
        </div> -->
      </div>
    </div>
  </div>
</section>
