<section>
  <!-- Afficher un message si aucune matiere  n'est enregistrée -->
  <div *ngIf="allCourse === 0; else course" class="no-data">
    <p>Aucune matière enregistrée !</p>
  </div>

  <ng-template #course>
    <!-- start section1  -->
    <div class="first-section">
      <h1>matière</h1>
      <div class="second-bloc">
        <div class="card">
          <div class="title">
            <div>
              <p>{{ allCourse }}</p>
              <h2>matières totales</h2>
            </div>
            <span><mat-icon>book</mat-icon></span>
          </div>
          <p>{{ lastCourse.name }}</p>
        </div>
        <div class="card">
          <div class="title">
            <div>
              <p>{{ allMatiereFrequently }}</p>
              <h2>matières ajoutées recemment</h2>
            </div>
            <span><mat-icon>book</mat-icon></span>
          </div>
          <p>
            {{
              lastCourseRecently
                ? lastCourseRecently.name
                : "Aucune matière enregistée récemment"
            }}
          </p>
        </div>
        <div class="card">
          <div class="title">
            <div>
              <p class="dureeCourse">
                {{
                  longestDurationMatiere.duree
                    ? longestDurationMatiere.duree
                    : 0
                }}
                semaine(s)
              </p>
              <h2>matière avec la plus grande durée</h2>
            </div>
            <span><mat-icon>book</mat-icon></span>
          </div>
          <p>
            {{
              longestDurationMatiere.name
                ? longestDurationMatiere.name
                : "Pas renseigné"
            }}
          </p>
        </div>
        <div class="card">
          <div class="title">
            <div>
              <p class="dureeCourse">
                {{
                  shortestDurationMatiere.duree
                    ? shortestDurationMatiere.duree
                    : 0
                }}
                semaine(s)
              </p>
              <h2>matière avec la plus courte durée</h2>
            </div>
            <span><mat-icon>book</mat-icon></span>
          </div>
          <p>
            {{
              shortestDurationMatiere.name
                ? shortestDurationMatiere.name
                : "Pas renseigné"
            }}
          </p>
        </div>
      </div>
    </div>
    <!-- end section1  -->

    <!-- start section2  -->
    <div class="second-section">
      <div class="sort">
        <h2>Rechercher par:</h2>

        <!-- all options  -->
        <div class="options">
          <!-- first option  -->
          <input type="checkbox" name="#" id="check" />
          <div class="option">
            <div class="label1">
              <label for="check"
                ><mat-icon>sort_by_alpha</mat-icon><span>Nom</span></label
              >
            </div>
            <div class="input1">
              <div>
                <mat-icon>search</mat-icon>
                <input
                  #filterName
                  (keyup)="filterByName(filterName.value)"
                  type="search"
                  name="#"
                  id="#"
                  placeholder="Nom..."
                />
              </div>
            </div>
          </div>

          <!-- second option  -->
          <input type="checkbox" name="#" id="check2" />
          <div class="option">
            <div class="label2">
              <label for="check2"
                ><mat-icon>timer</mat-icon><span>Durée de cours</span></label
              >
            </div>
            <div class="input2">
              <div>
                <mat-icon>search</mat-icon>
                <input
                  #filterDuree
                  (keyup)="filterByDuree(filterDuree.value)"
                  type="search"
                  name="#"
                  id="input2"
                  placeholder="Durée de cours..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- table of session -->
      <div class="cards" [@pageTransition]="currentPageState">
        <table>
          <thead>
            <tr>
              <th>N°</th>
              <th (click)="sortData('name')">
                Nom <span [ngClass]="getSortIcon('name')"></span>
              </th>
              <th (click)="sortData('duree')">
                Durée de cours <span [ngClass]="getSortIcon('duree')"></span>
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentVisibleData; let i = index">
              <td>{{ i + 1 }}</td>
              <td class="startDate">
                {{ item.name }}
              </td>
              <td>{{ item.duree }} semaine(s)</td>
              <td class="more">
                <button class="more-icon" (click)="toggleModal(i, $event)">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <div
                  class="modal"
                  [ngClass]="{ show: isModalVisible[i] }"
                  (click)="$event.stopPropagation()"
                >
                  <div
                    class="text"
                    *ngIf="
                      role === 'EDITEUR' ||
                      role === 'MANAGER' ||
                      role === 'ADMINISTRATEUR'
                    "
                  >
                    <button
                      (click)="updateMatiere(item.id, item.name, item.duree)"
                    >
                      <img
                        src="images/write-svgrepo-com.svg"
                        alt="write-svgrepo-com.svg"
                      />
                      <span class="update">Modifier</span>
                    </button>
                  </div>
                  <div
                    class="text"
                    *ngIf="role === 'MANAGER' || role === 'ADMINISTRATEUR'"
                  >
                    <button
                      (click)="onOptionSelectedDelete(i, $event, item.id)"
                    >
                      <img
                        src="images/delete-svgrepo-com.svg"
                        alt="delete-svgrepo-com.svg"
                      />
                      <span class="delete">Supprimer</span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- pagination  -->
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">
          Précédent
        </button>
        <span *ngFor="let page of pageNumbers()">
          <button
            [class.active]="page === currentPage"
            (click)="changePageWithAnimation(page)"
          >
            {{ page }}
          </button>
        </span>
        <button
          (click)="nextPage()"
          [disabled]="currentPage === pageNumbers().length"
        >
          Suivant
        </button>
      </div>
    </div>
    <!-- end section2  -->
  </ng-template>

  <!-- add button session  -->
  <app-add-buttton
    *ngIf="
      role === 'CONTRIBUTEUR' ||
      role === 'EDITEUR' ||
      role === 'MANAGER' ||
      role === 'ADMINISTRATEUR'
    "
    [buttonText]="'Ajouter une matière'"
    (click)="addMatiere()"
  ></app-add-buttton>
</section>
